<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.UserMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="USer" id="UserMap">

        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_Name" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="INTEGER" />
        <result column="position" property="position" jdbcType="VARCHAR" />
    </resultMap>


    <select id="selectUser" parameterType="INTEGER" resultMap="UserMap">
        select *
        from user
        where 1=1
        and id = #{id,jdbcType=INTEGER}
    </select>






</mapper>